body {padding: 40px;background-color: #020202; color: #fff;}
#root {display: flex;flex-direction: column;gap:16px;}
h1,h2,h3,h4,h5,h6,p {margin: 0;padding: 0;line-height: 1.5;}
h3 p {font-weight: 400;}

.ui-box {padding: 20px;border: 1px solid rgba(0,0,0,.3);border-radius: 16px;}


.MuiAccordionDetails-root {display: flex;flex-direction: column;gap: 16px;padding:0 16px;}